
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    


}
.title{

    background: white;
    padding: 10px;
    padding-left: 100px;
    border-bottom: 3px solid #000022;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titleText{
    font-size: 30px;
    font-weight: bold;
}
.main{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.buildingCards{
    display: flex;
    flex-direction: column;

}

.buildingCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.buildingImg{
    width: 150px;
    height: 150px;
    border: 2px solid #000022;
    border-radius: 12px;
}

.buildingInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.buildingDetails{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.buildingName{
    font-size: 20px;
    font-weight: bold;
}

.roomContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 100px;
    margin-left: 100px;
}
.roomCards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.roomCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: white;
}
.roomTitle{
    font-size: 30px;
    font-weight: bold;

}

.roomInfo{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.roomImg{
    width: 150px;
    height: 150px;
    border: 2px solid #000022;
    border-radius: 12px;
}
.roomDetails{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.roomName{
    font-size: 20px;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: inherit;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.back{
    text-decoration: none;
    color: inherit;
}


.linkCard{
    display: inline-block;
    text-decoration: none;
    color:inherit;
    transition: transform  ease 0.5s;
    width: 100%;
}

.linkCard:hover{
    transform: scale(1.05);

}