.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 12px;
  width: 500px; /* Установите подходящую ширину */
  height: auto; /* Оставляем авто для высоты */
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%; /* Оставляем немного промежутка между колонками */
}

.input, .textarea, .inputFile, .select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  height: 100px;
}

.submitButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.error, .success {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
