.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;

}

.info {
    display: flex;
    flex-direction: column;
    width: 80%; 
    padding: 20px; 
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;

}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-decoration: none;
    color: inherit;
    transition: all 0.6s ease;
}
.option:hover{
    transform: scale(1.02);
}

.iconContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.use {
    display: flex;
    align-items: center;
    border: 2px solid #FF8C00;
    padding: 10px;
    transition: all 0.6s ease;
}

.use:hover {
    background-color: #FF8C00;
    color: white;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: inherit;
}

