
.rentChoiceContainer{
    display: flex;
    flex-direction: column;
    margin: 50px 100px 50px 100px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap:20px;   
}   

.rentList{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.card{
    display: flex;  
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin: 20px 50px 20px 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

