

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gerb {
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-left: 150px;

}

.name {
    font-size: 36px;
    font-weight: bold;
}