.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .createRoomForGovernmentButton{
    display: flex;
    padding: 10px;
    width: 130px;
    border: 2px solid green;
    transition: all 0.5s;
    background: white;


  }
  .createRoomForGovernmentButton:hover{
    background: green;
    color:white;
    cursor:pointer;

  }

.submitButton{
    padding: 10px;
    border:2px solid green;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    
}
.submitButton:hover{
    background: green;
    color:white;
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
}